@(userDTO: Option[User], paginatedResult: PaginatedResult[Article])(implicit request: RequestHeader, messages: Messages)


<div class="text-center show_more_articles">
    <div class="panel-body">
        <input type="hidden" id="@paginatedResult.orderBy.concat("ArticlesPageNumber")" value="@paginatedResult.pageNumber" />

        <button type="button" id="@paginatedResult.orderBy.concat("ShowMoreArticles")" class="btn btn-default btn-ladda btn-ladda-spinner" data-spinner-color="#333" data-style="slide-up"><span class="ladda-label">
            Show more</span>
        </button>

    </div>
</div>
