@(userDTO: Option[User], sc: SubComment)(implicit request: RequestHeader)



<div class="media">
    <div class="media-left pr-10">
        <img src="@sc.createdBy.map(u => u.avatarURL.getOrElse(utils.Constants.DEFAULT_AVATAR))" class="img-circle img-sm" alt="">
    </div>

    <div class="media-body">
        <div class="media-heading">
            <a href="#" class="text-semibold">@sc.createdBy.map(u => u.fullName.getOrElse(""))</a>
            <span class="media-annotation dotted">@utils.WebUtils.getDisplayTimeOffset(sc.createdAt)</span>
        </div>

        <p>@sc.content.map(c => c)</p>


        @defining(sc.userSubCommentActivity.getOrElse(UserCommentActivity.getNone).rating.getOrElse(0)) { rating =>

            <div class="displaynone" id="@sc.id.concat("_rating")">@rating</div>
            <ul class="comment_status_control list-inline list-inline-separate text-size-small">
                @*<li><a class="commentReplyButton" id="@sc.commentID.getOrElse("")">Reply</a></li>*@
                <li class="ml-5 mr-5">
                    <small id="@sc.id.concat("_ratingSum")">
                    @sc.subCommentMeta.map(m => m.ratingSum.getOrElse(0)).getOrElse(0)
                    </small>

                    <a><i id="@sc.id.concat("_like")" class="ml-5 label-rounded icon-arrow-up22 @{
                        if(rating == 1) "comment_liked" else "comment_like"
                    }"></i></a>
                    <a><i id="@sc.id.concat("_dislike")" class="ml-5 label-rounded icon-arrow-down22 @{
                        if(rating == -1) "comment_disliked" else "comment_dislike"
                    }"></i></a>
                </li>
                @userDTO.map(onlineUser => sc.createdBy.map(u => if(u.id.equals(onlineUser.id)) {
                        <li><a href="#">Edit</a></li>
                }))

            </ul>


        }

    </div>
</div>

