@(userDTO: Option[User], title: String, subTitle: Option[String] = None)(implicit request: RequestHeader, messages: Messages)


<!-- Page header mini -->
@*<div class="content-group no-margin-bottom">*@
    @*<div class="page-header  layout-boxed navbar-boxed page-header-xs body_override no-margin">*@
        @*<div class="page-header-content">*@
            @*<div class="page-title no-padding-bottom">*@
                @*<h5>  <span class="text-semibold">@title</span> @subTitle </h5>*@
            @*</div>*@

        @*</div>*@

    @*</div>*@
@*</div>*@
    <!-- /page header mini -->