@(title: String, user: Option[User], userProfile: User)(implicit request: RequestHeader, messages: Messages)

    @import helper._

    @main(title) {
        <!-- User scripts -->


    } {


        <body class="layout-boxed navbar-bottom body_override" data-ws-url-admin-dashboard="@controllers.routes.ApplicationController.dashBoardSocket().webSocketURL()">


            @partials._navbarMain(user)


                <!-- Page container -->
            <div class="page-container custom_page_container">

                    <!-- Page content -->
                <div class="page-content">

                    @partials._sidebarMain()


                        <!-- Main content -->
                    <div class="content-wrapper">

                            <!-- User profile -->
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="tabbable">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active">


                                                <!-- Account settings -->
                                            <div class="panel panel-flat">
                                                <div class="panel-heading">
                                                    <h6 class="panel-title">Account settings</h6>
                                                    <div class="heading-elements">
                                                        <ul class="icons-list">
                                                            <li><a data-action="collapse"></a></li>
                                                            <li><a data-action="reload"></a></li>
                                                            <li><a data-action="close"></a></li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="panel-body">
                                                    <form action="#">
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Username</label>
                                                                    <input type="text" value="Kopyov" readonly="readonly" class="form-control">
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <label>Current password</label>
                                                                    <input type="password" value="password" readonly="readonly" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>New password</label>
                                                                    <input type="password" placeholder="Enter new password" class="form-control">
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <label>Repeat password</label>
                                                                    <input type="password" placeholder="Repeat new password" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Profile visibility</label>

                                                                    <div class="radio">
                                                                        <label>
                                                                            <input type="radio" name="visibility" class="styled" checked="checked">
                                                                            Visible to everyone
                                                                        </label>
                                                                    </div>

                                                                    <div class="radio">
                                                                        <label>
                                                                            <input type="radio" name="visibility" class="styled">
                                                                            Visible to friends only
                                                                        </label>
                                                                    </div>

                                                                    <div class="radio">
                                                                        <label>
                                                                            <input type="radio" name="visibility" class="styled">
                                                                            Visible to my connections only
                                                                        </label>
                                                                    </div>

                                                                    <div class="radio">
                                                                        <label>
                                                                            <input type="radio" name="visibility" class="styled">
                                                                            Visible to my colleagues only
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <label>Notifications</label>

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" class="styled" checked="checked">
                                                                            Password expiration notification
                                                                        </label>
                                                                    </div>

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" class="styled" checked="checked">
                                                                            New message notification
                                                                        </label>
                                                                    </div>

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" class="styled" checked="checked">
                                                                            New task notification
                                                                        </label>
                                                                    </div>

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" class="styled">
                                                                            New contact request notification
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="text-right">
                                                            <button type="submit" class="btn btn-primary">
                                                                Save <i class="icon-arrow-right14 position-right"></i></button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                                <!-- /account settings -->

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">

                                    <!-- User thumbnail -->
                                <div class="thumbnail">
                                    <div class="thumb thumb-rounded thumb-slide">

                                    @if(userProfile.avatarURL.getOrElse(utils.Constants.DEFAULT_AVATAR).isEmpty) {
                                        <img src="@routes.Assets.versioned("../../../public/images/demo/users/face26.png")" alt="">
                                    } else {
                                        <img src="@userProfile.avatarURL.getOrElse(utils.Constants.DEFAULT_AVATAR)" alt="">
                                        }

                                    </div>

                                    <div class="caption text-center">
                                        <h6 class="text-semibold no-margin">@userProfile.fullName.getOrElse("") <small class="display-block">
                                            UX/UI designer</small></h6>
                                    </div>


                                    <div class="list-group no-border no-padding-top">

                                        <a href="#" class="list-group-item"><i class="icon-images2"></i>
                                            Posts
                                        </a>
                                        <a href="#" class="list-group-item"><i class="icon-tree7"></i>
                                            Subscribers
                                            <span class="badge bg-danger pull-right">29</span></a>

                                        @user.map { u =>
                                            @if(u.id.equals(userProfile.id)) {
                                                <div class="list-group-divider"></div>
                                                <a href="#" class="list-group-item"><i class="icon-cog3"></i>
                                                    Settings</a>
                                            }
                                        }

                                    </div>
                                </div>
                                    <!-- /navigation -->


                            </div>
                        </div>
                            <!-- /user profile -->

                    </div>
                        <!-- /main content -->

                </div>
                    <!-- /page content -->

            </div>
                <!-- /page container -->



            @partials._footer(user)


        </body>


    }